@model IEnumerable<InternetBanking.Core.Application.ViewModels.BeneficiaryVMS.BeneficiaryViewModel> 

 @{ 
     ViewData["Title"] = "Beneficiaries"; 
 } 

 <h1>Mis Beneficiarios</h1> 

 <div class="row"> 
     <div class="col-md-12 mb-3"> 
         <a asp-controller="Beneficiary" asp-action="Create" class="btn btn-primary">Add Beneficiary</a> 
     </div> 

     @foreach (var beneficiary in Model) 
     { 
         <div class="col-md-4"> 
             <div class="card mb-4"> 
                 <div class="card-body text-center"> 
                     <h5 class="card-title mt-2">@beneficiary.BeneficiaryFullName</h5> 
                     <p class="card-text">Account Number: @beneficiary.AccountNumber</p> 
                     <p class="card-text">Product Type: @beneficiary.ProductType</p> 
                     <div class="d-flex justify-content-between align-items-center"> 
                         <a asp-controller="Beneficiary" asp-action="Delete" asp-route-id="@beneficiary.Id" class="btn btn-sm btn-outline-danger">Eliminar</a> 
                         <a asp-controller="Beneficiary" asp-action="Edit" asp-route-id="@beneficiary.Id" class="btn btn-sm btn-outline-secondary">Editar Beneficiario</a> 
                     </div> 
                 </div> 
             </div> 
         </div> 
     } 

</div>